.children-learn {
  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      padding-left: 20px;

      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 6px;
        left: 0;
      }
    }

    &:nth-child(1) {
      max-width: 428px;

      @include mini-desktop {
        max-width: 300px;
      }

      @include tablet {
        max-width: 100%;
      }
    }

    &:nth-child(2) {
      max-width: 275px;

      &::before {
        background-color: #fdd503;
      }
    }

    &:nth-child(3) {
      max-width: 381px;

      &::before {
        background-color: #fe7167;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      @include tablet {
        max-width: 50%;
      }

      @include mobile {
        max-width: 100%;
      }
    }

    // &:not(:last-child) {
    //   margin-right: 70px;
    // }

    @include tablet {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  &__descr {
    margin: 0;
    color: var(--dark-color);
  }
}
