.contacts {
  &__list {
    display: flex;

    @include tablet {
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 53px;
    }
  }

  &__link {
    &:hover {
      svg {
        fill: #ffeca0;
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  &__svg {
    width: 18px;
    height: 18px;
    transition: fill 0.3s ease-in-out;
    object-fit: cover;
  }
}
