.education {
  &__container {
    max-width: 896px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__descr {
    margin: 0;
    max-width: 427px;
    margin-bottom: 34px;
  }

  &__list {
    margin-bottom: 97px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-ed);

    @include mini-tablet-start {
      --elems-ed: 3;
      --gap-ed: 30px;
    }

    @include mobile-small {
      --gap-ed: 10px;
    }
  }

  &__item {
    position: relative;
    padding-top: 20px;
    width: calc((100% - (var(--elems-ed) - 1) * var(--gap-ed)) / (var(--elems-ed)));
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: -1;

    &::before {
      position: absolute;
      content: "";
      top: 15px;
      left: 50%;
      width: 68px;
      height: 71px;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    &--specific {
      &::before {
        background-image: url('../img/education/specific.svg');
      }
    }

    &--measurable {
      &::before {
        background-image: url('../img/education/measurable.svg');
      }
    }

    &--achievable {
      &::before {
        background-image: url('../img/education/achievable.svg');
      }
    }

    &--relevant {
      &::before {
        background-image: url('../img/education/relevant.svg');
      }
    }

    &--time {
      &::before {
        background-image: url('../img/education/time.svg');
      }
    }
  }

  &__item-title {
    margin-bottom: 10px;
    min-width: 88px;
  }

  &__item-descr {
    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__small-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark-color);
  }

  &__example {
    margin-bottom: 60px;
    display: flex;
    align-items: center;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__img {
    margin-right: 53px;

    @include small-tablet {
      margin-right: 0;
      margin-bottom: 60px;
    }
  }

  &__example-title {
    display: inline-block;
    margin-bottom: 24px;
  }

  &__example-descr {
    margin: 0;

    @include mobile {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__steps-list {
    display: flex;
    flex-direction: column;
  }

  &__steps-item {
    position: relative;
    max-width: 550px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:nth-child(even) {
      padding-left: 200px;
      align-self: flex-end;

      &:before {
        left: -20px;
        background-image: url('../img/education/arrow-left.svg');
      }
    }

    &:nth-child(odd) {
      padding-right: 200px;

      &:not(:last-child) {
        &::before {
          right: 10px;
          background-image: url('../img/education/arrow-right.svg');
        }
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 128px;
      height: 128px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    @include mobile-small {
      &:nth-child(even) {
        padding-left: 0;
        align-self: flex-start;

        &:before {
          display: none;
        }
      }

      &:nth-child(odd) {
        padding-right: 0;

        &:not(:last-child) {
          &::before {
            display: none;
          }
        }
      }
    }
  }

  &__steps-title {
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    max-width: 219px;

    &::before {
      position: absolute;
      content: "";
      width: 68px;
      height: 81px;
      left: -25px;
      top: -25px;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--1 {
      &::before {
        background-image: url('../img/education/1.svg');
      }
    }

    &--2 {
      &::before {
        background-image: url('../img/education/2.svg');
      }
    }

    &--3 {
      &::before {
        background-image: url('../img/education/3.svg');
      }
    }

    &--4 {
      &::before {
        background-image: url('../img/education/4.svg');
      }
    }

    &--5 {
      &::before {
        background-image: url('../img/education/5.svg');
      }
    }

    @include mobile-small {
      &::before {
        left: 0;
      }
    }
  }

  &__steps-descr {
    margin: 0;
    max-width: 321px;

    &--5 {
      max-width: 209px;
    }
  }
}
