.final {
  &__title {
    margin-bottom: 30px;

    @include mini-desktop {
      margin: 0 auto 30px;
    }
  }

  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @include mini-desktop {
      flex-direction: column;
      align-items: center;
    }
  }

  &__descr {
    margin: 0;
    max-width: 302px;

    @include mini-desktop {
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(168px, 237px));
    gap: 76px;

    @include mini-tablet {
      grid-template-columns: repeat(2, minmax(168px, 237px));
    }

    @include mobile {
      grid-template-columns: repeat(1, minmax(168px, 237px));
    }
  }

  &__item {
    padding-left: 76px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--1 {
      &::before {
        background-image: url('../img/final/1.svg');
      }
    }

    &--2 {
      &::before {
        background-image: url('../img/final/2.svg');
      }
    }

    &--3 {
      &::before {
        background-image: url('../img/final/3.svg');
      }
    }
  }

  &__subtitle {

  }
}
