.header {
  &__container {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  &__nav {
    margin-left: 76px;
    margin-right: 269px;
    margin-bottom: 6px;
  }

  &__contacts {
    margin-right: 68px;
    display: flex;
  }

  &__svg {
    width: 18px;
    height: 18px;
  }
}
