.hero-main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__action {
    max-width: 665px;

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include mobile {
      max-width: 400px;
      font-size: 30px;
      line-height: 40px;
    }
  }

  @include tablet {
    flex-direction: column;
  }
}


.hero-images {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__images-inner {
    position: relative;

    &:not(:last-child) {
      margin-right: 97px;
    }

    @include mobile {
      margin-right: 0 !important;
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }

  &__descr {
    position: absolute;
    content: "";
    right: -30px;
    bottom: 0;
    max-width: 150px;
  }

  &__text {
    display: inline-block;
    padding: 0 2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    background-color: var(--light-color);
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}
