.hero-main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__action {
    max-width: 665px;

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include mobile {
      max-width: 400px;
      font-size: 30px;
      line-height: 40px;
    }
  }

  @include tablet {
    flex-direction: column;
  }

  @include tablet {
    margin-bottom: 80px;
  }
}


.hero-images {
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-column-gap: 97px;

  &__images-inner {
    position: relative;

    // &:not(:last-child) {
    //   margin-right: 97px;
    // }

    // @include mobile {
    //   margin-right: 0 !important;

    //   &:not(:last-child) {
    //     margin-bottom: 60px;
    //   }
    // }
  }

  &__descr {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 10px;
  }

  &__text {
    display: inline-block;
    padding: 0 2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    background-color: var(--light-color);
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  @include tablet {
    justify-content: center;

    &--adults {
    justify-content: flex-start;
    }
  }

  @include mini-tablet-start {
    justify-content: center;
    grid-template-columns: repeat(2, 150px);
    grid-row-gap: 60px;
  }

  @include mobile {
    grid-template-columns: repeat(1, 150px);
  }

  @include mobile-small {
    justify-content: start;
  }
}
