.history {
  &__title {
    margin-bottom: 60px;
  }

  &__slider-items {
    position: relative;
  }

  &__slide-timeline {
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: -10px;
      width: 100%;
      height: 2px;
      background-color: #61b5a9;
    }
  }

  &__years {
    align-items: center;
    text-align: center;
    // display: inline-block;

    // &:not(:last-child) {
    //   margin-right: 211px;
    // }

    // &:first-child {
    //   margin-left: 45px;
    // }
  }

  &__slide-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__img {
    margin-right: 82px;

    @include mobile {
      margin-right: 0;
    }
  }

  &__slide-inner {
    display: flex;
    flex-direction: column;

    @include mobile {
      order: -1;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 13px;
  }

  &__descr {
    margin: 0;
    max-width: 245px;
  }

  &__pagination {
    position: absolute;
    top: 29px;
    display: flex;
  }
}

.swiper-pagination-bullets {
  justify-content: space-around;
}

.swiper-pagination-bullet:hover {
  background-color: #689c9a;
  filter: blur(2px);
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #61b5a9;
  background-color: #fff;
  opacity: 1;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}


.swiper-pagination-bullet-active {
  border: none;
  background-color: #236967;
  filter: blur(2px);
}

