.languages {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 85px 0;

    @include background;
  }

  &__title {
    margin-bottom: 40px;
    align-self: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-lang);

    @include mini-tablet {
      --elems-lang: 2;
    }

    @include mobile {
      --elems-lang: 1;
      width: 176px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: calc((100% - (var(--elems-lang) - 1) * var(--gap-lang)) / (var(--elems-lang)));

    @include mini-tablet {
      justify-content: center;
    }
  }

  &__img {
    margin-right: 30px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--main-color);

    @include tablet {
      min-width: 104px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
