.trial {
  &__container {
    display: flex;
    align-items: center;
    @include background;
    justify-content: space-between;
    overflow: hidden;
  }

  &__content {
    padding: 80px 180px 80px 106px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__img {
    margin-bottom: auto;
  }
}
