.nav {
  &__list {
    display: flex;
    align-items: center;

    @include tablet {
      display: block;
      margin-bottom: 20px;
    }

    &--nav {
      display: none;

      @include tablet {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }

    &--relative-nav {
      @include tablet {
        display: none;
      }
    }
  }

  &__item {
    display: inline-block;

    &--relative {
      position: relative;
    }

    &:not(:last-child) {
      margin-right: 42px;
    }

    @include tablet {
      &:not(:last-child) {
        margin-right: 0;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }

  &__btn {
    position: relative;
    padding-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 6px;
      height: 6px;
      border-right: 1px solid var(--dark-color);
      border-top: 1px solid var(--dark-color);
      transform: translateY(-50%) rotate(135deg);
    }
  }

  &__dropdown-menu {
    position: absolute;
    min-width: 191px;
    border-radius: 20px;
    padding: 16px 41px 16px 20px;
    content: "";
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #ffeca0;
    visibility: hidden;
    transition: visibility 0s 0.6s, opacity 0.6s ease;
    opacity: 0;

    &.open {
      transition: visibility 0s 0s, opacity 0.6s ease;
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
  }
}

.after.nav__btn::after {
  transform: rotate(315deg);
}
