.offer {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    margin-bottom: 140px;
    display: flex;
    align-items: center;

    @include tablet {
      flex-direction: column;
      margin-bottom: 100px;
    }
  }

  &__top-img {
    margin-right: 120px;

    @include tablet {
      margin-right: 0;
      margin-bottom: 60px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    align-items: flex-start;

    @include tablet {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    max-width: 187px;

    &--top-online {
      margin-right: 26px;

      @include tablet {
        margin: 0;
      }
    }

    &--bottom-offline {
      margin-right: 46px;
    }

    &--bottom-online {
      max-width: 222px;
    }

    @include tablet {
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__item {
    padding-left: 20px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 10px;
      width: 10px;
      height: 10px;
      background-image: url('../img/check-mark.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include mobile {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }
  }

  &__bottom-img {
    margin-left: 84px;

    @include tablet {
      margin-left: 0;
      margin-bottom: 60px;

      @include mobile-small {
        width: 355px;
        height: 246px;
      }
    }
  }
}
