.offline-class {
  &__container {
    padding-left: 107px;

    @include mini-tablet-start {
      padding-left: 15px;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 121px;
    grid-row-gap: 20px;

    @include mini-tablet-start {
      grid-template-columns: repeat(1,1fr);
    }
  }

  &__item {
    padding-left: 73px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--1 {
      &::before {
        background-image: url('../img/offline-class/1.svg');
      }
    }

    &--2 {
      &::before {
        background-image: url('../img/offline-class/2.svg');
      }
    }

    &--3 {
      &::before {
        background-image: url('../img/offline-class/3.svg');
      }
    }

    &--4 {
      &::before {
        background-image: url('../img/offline-class/4.svg');
      }
    }
  }

  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
