.packages {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__filters {
    margin-bottom: 40px;
  }

  &__filter-list {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__label {
    line-height: 0;
  }

  &__filter-item {
    &--online-wide,
    &--offline-wide {
      width: 260px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &--online-small {
      width: 140px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__input {
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__input-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      height: 2px;
      background-color: #94c6c4;
      transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    }

    &--online-wide,
    &--offline-wide {
      &::before {
        width: 260px;
      }
    }

    &--online-small {
      &::before {
        width: 140px;
      }
    }

    &:hover {
      &::before {
        filter: blur(2px);
        transition: filter 0.3s ease-in-out;
      }
    }
  }

  &__input:checked+&__input-title::before {
    background-color: #236967;
    transition: background-color 0.3s ease-in-out;
  }

  &__images-list {
    // display: grid;
    // grid-template-columns: repeat(3, 300px);
    // grid-gap: 73px;
    display: flex;
    flex-wrap: wrap;
  }

  &__images-item {
    @include background;

    margin: 0 31px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hide {
      display: none;
    }
  }

  &__img {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 14px;
    color: var(--main-color);
  }

  &__box {
    margin-bottom: 40px;
    display: flex;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: var(--dark-color);
  }

  &__btn {
    &--offline {
      margin-bottom: 20px;
    }
  }

  &__image-descr {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: var(--dark-color);
  }
}

.filters-online {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

// &.active {
//   &::before {
//     background-color: #236967;
//     transition: background-color 0.3s ease-in-out;
//   }
// }

