.public-offer {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__inner {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
  }

  &__inner-descr {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  &__inner-title {
    margin-bottom: 10px;
  }

  &__descr {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__inner-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__content {
    display: flex;
  }

  &__column {
    max-width: 620px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  &__item-title {
    margin-bottom: 30px;
  }

  &__content-text {
    margin: 0;
    margin-bottom: 30px;
  }
}
