.tasks {
  &__container {
    padding: 100px 0 103px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include background;

    @include mini-tablet {
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 94px;
    max-width: 435px;

    @include mini-tablet {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    display: block;
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    max-width: 320px;
  }
}
