<section class="about-languages section-offset">
  <div class="container about-languages__container">
    <picture class="about-languages__img">
      <source srcset="img/about-languages.avif" type="image/avif">
      <source srcset="img/about-languages.webp" type="image/webp">
      <img loading="lazy" src="img/about-languages.png" class="image" width="353" height="300" alt="Ученик на занятии играет в личности">
    </picture>
    <div class="about-languages__content">
      <h2 class="about-languages__title title-submain">
        <span class="about-languages__subtitle title-style">Что такое иностранные</span>
        <span class="about-languages__subtitle title-style">языки для нас?</span>
      </h2>
      <ul class="about-languages__list list-reset">
        <li class="about-languages__item about-languages__item--green">
          <span class="about-languages__decor"></span>
          <span class="about-languages__text title-small">Навыки</span>
        </li>
        <li class="about-languages__item about-languages__item--red">
          <span class="about-languages__decor"></span>
          <span class="about-languages__text title-small">Культурная среда </span>
        </li>
        <li class="about-languages__item about-languages__item--orange">
          <span class="about-languages__decor"></span>
          <span class="about-languages__text title-small">Жизненные ценности</span>
        </li>
        <li class="about-languages__item about-languages__item--orange">
          <span class="about-languages__decor"></span>
          <span class="about-languages__text title-small">Знания</span>
        </li>
        <li class="about-languages__item about-languages__item--yellow">
          <span class="about-languages__decor"></span>
          <span class="about-languages__text title-small">Языковая среда
          </span>
        </li>
        <li class="about-languages__item about-languages__item--blue">
          <span class="about-languages__decor"></span>
          <span class="about-languages__text title-small">Дружественная атмосфера</span>
        </li>
      </ul>
    </div>
  </div>
</section>
