<section class="action section-offset">
  <div class="container-small action__container">
    <div class="action__inner">
      <h2 class="action__title title-submain">
        <span class="action__subtitle title-style">выучить язык</span>
        <span class="action__subtitle title-style">совсем несложно</span>
      </h2>
      <button class="btn btn-reset action__btn" data-graph-path="trial-class">Пробное занятие</button>
    </div>
    <img src="img/action-2.png" alt="Дети на занятии" class="action__img">
  </div>
</section>
