<section class="children-learn section-offset">
  <div class="container">
    <h2 class="children-learn__title title-submain title-style">Выбирая нас для своего ребенка</h2>
    <ul class="children-learn__list list-reset">
      <li class="children-learn__item">
        <p class="children-learn__descr title-small">
          изучение языков в нашей языковой школе, вы должны знать об особенностях нашего онлайн-обучения:
        </p>
      </li>
      <li class="children-learn__item">
        <p class="children-learn__descr">
          На первом занятии мы узнаем об интересах вашего ребенка, его увлечениях и особенностях.
        </p>
      </li>
      <li class="children-learn__item">
        <p class="children-learn__descr">
          Далее, после общения с ним, мы составляем ИНДИВИДУАЛЬНЫЙ ОБРАЗОВАТЕЛЬНЫЙ МАРШРУТ конкретно для вас.
        </p>
      </li>
    </ul>
  </div>
</section>
