<section class="education section-offset">
  <div class="container-small education__container">
    <h2 class="education__title title-sub title-sub--style">
      Мы используем SMART-подход в обучении
    </h2>
    <p class="education__descr">
      Чтобы обучение было максимально эффективным, мы составляем индивидуальную карту обучения: ваша исходная точка,
      конечный результат, срок достижения этого результата. И будем вместе идти к этим целям
    </p>
    <ul class="education__list list-reset">
      <li class="education__item education__item--specific">
        <span class="education__item-title">specific</span>
        <span class="education__item-descr title-small">Конкретная цель</span>
      </li>
      <li class="education__item education__item--measurable">
        <span class="education__item-title">measurable</span>
        <span class="education__item-descr title-small">Критерии успеха</span>
      </li>
      <li class="education__item education__item--achievable">
        <span class="education__item-title">achievable</span>
        <span class="education__item-descr title-small">Достижимая цель</span>
      </li>
      <li class="education__item education__item--relevant">
        <span class="education__item-title">relevant</span>
        <span class="education__item-descr title-small">Цель, имеющая значение</span>
      </li>
      <li class="education__item education__item--time">
        <span class="education__item-title">time bound</span>
        <span class="education__item-descr title-small">Четкие сроки</span>
      </li>
    </ul>
    <div class="education__example">
      <img src="img/education/student.jpg" alt="Ученик на занятии" class="education__img">
      <div class="education__example-inner">
        <span class="education__example-title education__small-title title-small">Пример</span>
        <p class="education__example-descr">
          Я учил английский в школе, но все забыл. Сейчас я хочу работать в международной компании, успешно пройти
          интервью и затем свободно общаться с коллегами.
        </p>
      </div>
    </div>
    <ul class="education__steps-list list-reset">
      <li class="education__steps-item">
        <h4 class="education__steps-title education__small-title education__steps-title--1 title-small">Определяем текущий уровень и ставим цель</h4>
        <p class="education__steps-descr">
          Улучшение языковых навыков до уровня свободного общения в определенной специфике (бизнес-английский).
        </p>
      </li>
      <li class="education__steps-item">
        <h4 class="education__steps-title education__small-title education__steps-title--2 title-small">Критерии успеха</h4>
        <p class="education__steps-descr">
          Определяем даты промежуточных итогов, где оценим успехи по всем скилам. Что лично для вас будет являться
          успехом? Когда вы сможете свободно выразить мысль? Не будете путать слова? Напишите самостоятельно имейл?
        </p>
      </li>
      <li class="education__steps-item">
        <h4 class="education__steps-title education__small-title education__steps-title--3 title-small">Достижимая цель</h4>
        <p class="education__steps-descr">
          Если мы определили стартовый уровень как Beginner, значит наша реальная цель в короткий срок –
          Pre-Intermediate
        </p>
      </li>
      <li class="education__steps-item">
        <h4 class="education__steps-title education__small-title education__steps-title--4 title-small">Имеющая значение цель</h4>
        <p class="education__steps-descr">
          Что лично для вас изменится с появлением языковой компетенции?
        </p>
      </li>
      <li class="education__steps-item">
        <h4 class="education__steps-title education__small-title education__steps-title--5 title-small">Четкие сроки</h4>
        <p class="education__steps-descr education__steps-descr--5">
          Когда вы хотите достигнуть этого уровня?
        </p>
      </li>
    </ul>
  </div>
</section>
