<section class="final section-offset">
  <div class="container">
    <h2 class="final__title title-submain title-style">Итог:</h2>
    <div class="final__inner">
      <p class="final__descr">
        Все ваши занятия будут выстроены исходя из профессиональных интересов, таким образом:
      </p>
      <ul class="final__list list-reset">
        <li class="final__item">
          <h4 class="final__subtitle final__subtitle--1 title-small">отобразим рабочие сценарии</h4>
        </li>
        <li class="final__item">
          <h4 class="final__subtitle final__subtitle--2 title-small">выучим специальный вокабуляр</h4>
        </li>
        <li class="final__item">
          <h4 class="final__subtitle final__subtitle--3 title-small">погрузим вас в рабочую, при этом языковую среду</h4>
        </li>
      </ul>
    </div>
  </div>
</section>
