<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__languages">
        <h4 class="footer__title title-small">Иностранные языки</h4>
        <ul class="footer__list list-reset">
          <li class="footer__list-item">
            <a href="№" class="footer__link">Для взрослых онлайн</a>
          </li>
          <li class="footer__list-item">
            <a href="№" class="footer__link">Для взрослых офлайн</a>
          </li>
          <li class="footer__list-item">
            <a href="№" class="footer__link">Для детей онлайн</a>
          </li>
          <li class="footer__list-item">
            <a href="№" class="footer__link">Для детей офлайн</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <a href="#" class="logo footer__logo">
          <img src="img/logo.png" alt="Логотип Speaky School">
        </a>
        <div class="contacts footer__link-contacts">
          <ul class="contacts__list list-reset">
            <li class="contacts__item">
              <a href="#" class="contacts__link">
                <svg class="contacts__svg">
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__link">
                <svg class="contacts__svg">
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__link">
                <svg class="contacts__svg">
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <li class="contacts__item">
              <a href="#" class="contacts__link">
                <svg class="contacts__svg">
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <button class="btn btn-reset footer__btn">Онлайн-оплата</button>
      </div>
      <div class="footer__contacts">
        <h4 class="footer__title title-small">Контакты</h4>
        <ul class="footer__list footer__contacts-list list-reset">
          <li class="footer__list-item">
            <a href="tel:+74957237515" class="footer__link">+7 (495) 723-75-15</a>
          </li>
          <li class="footer__list-item">
            <a href="mailto:info@speaky.school" class="footer__link">info@speaky.school</a>
          </li>
          <li class="footer__list-item">
            <a href="mailto:info@speaky.school" class="footer__link">info@speaky.school</a>
          </li>
          <li class="footer__list-item">
            <div class="footer__address">
              <span class="footer__address-main">108840, Россия,</span>
              <span class="footer__address-city">г. Москва, г. Троицк,</span>
              <span class="footer__address-street">Троицкий бульвар, 6</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__copy">
      <p class="footer__copy-text">© 2021 Speaky school. Все права защищены.</p>
      <span class="footer__authot">Design by @arinkob</span>
    </div>
  </div>
</footer>
