<section class="goal section-offset">
  <div class="goal__container container">
    <picture class="goal__img">
      <source srcset="img/goal.avif" type="image/avif">
      <source srcset="img/goal.webp" type="image/webp">
      <img loading="lazy" src="img/goal.jpg" class="image" width="446" height="345" alt="Женщина на занятии">
    </picture>
    <div class="goal__content">
      <h2 class="goal__title title-submain">
        <span class="goal__subtitle title-style">Давайте представим, какая</span>
        <span class="goal__subtitle title-style">у вас может быть цель</span>
      </h2>
      <p class="goal__descr">
        Например, вы — свадебный организатор и большинство всех церемоний проходит за рубежом. Чтобы общаться с подрядчиками, выполнять свою работу эффективно и качественно, вам 100% нужен хороший язык.
      </p>
    </div>
  </div>
</section>
