<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img src="img/logo.png" alt="Логотип Speaky School">
    </a>
    <nav class="nav header__nav">

      <ul class="nav__list list-reset">
        <li class="nav__item nav__item--relative">
          <button class="nav__btn btn-reset" aria-expanded="false" title="Открыть меню">Обучение детей</button>
          <div class="nav__dropdown-menu" aria-hidden="true">
            <a href="#" class="nav__link">Онлайн-занятия</a>
            <a href="#" class="nav__link">Занятия в клубе</a>
          </div>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Обучение взрослых</a>
        </li>
      </ul>
    </nav>
    <div class="contacts header__contacts">
      <ul class="contacts__list list-reset">
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg class="contacts__svg">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg class="contacts__svg">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg class="contacts__svg">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg class="contacts__svg">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <a href="#" class="header__phone">
      <svg class="header__svg">
        <use xlink:href="img/sprite.svg#whatsapp"></use>
      </svg>
    </a>
  </div>
</header>
