<section class="hero hero-adults section-offset">
  <div class="container">

    <div class="hero__inner hero-main">
      <div class="hero-main__action">
        <h1 class="hero-main__title title-main hero-adults__title">
          эффективное изучение языков
        </h1>
        <p class="hero-adults__descr">
          Прокачайте язык вместе с нами под любые цели
        </p>
        <button class="hero-main__btn btn btn-reset" data-graph-path="trial-class">Пробное занятие</button>
      </div>
      <picture>
        <source srcset="img/hero-adult.avif" type="image/avif">
        <source srcset="img/hero-adult.webp" type="image/webp">
        <img loading="lazy" src="img/hero-adult.png" class="image" width="580" height="420" alt="Взрослый на занятии">
      </picture>
    </div>

    <div class="hero-images">
      <div class="hero-images__images-inner">
        <picture>
          <source srcset="img/hero-adult-1.avif" type="image/avif">
          <source srcset="img/hero-adult-1.webp" type="image/webp">
          <img loading="lazy" src="img/hero-adult-1.jpg" class="image" width="187" height="150" alt="Человек, заполняющий лист">
        </picture>
        <div class="hero-images__descr">
          <span class="hero-images__text">Для</span>
          <span class="hero-images__text">Работы</span>
        </div>
      </div>
      <div class="hero-images__images-inner">
        <picture>
          <source srcset="img/hero-adult-2.avif" type="image/avif">
          <source srcset="img/hero-adult-2.webp" type="image/webp">
          <img loading="lazy" src="img/hero-adult-2.jpg" class="image" width="187" height="150" alt="Девушка дома на занятии">
        </picture>
        <div class="hero-images__descr">
          <span class="hero-images__text">Для себя</span>
        </div>
      </div>
      <div class="hero-images__images-inner">
        <picture>
          <source srcset="img/hero-adult-3.avif" type="image/avif">
          <source srcset="img/hero-adult-3.webp" type="image/webp">
          <img loading="lazy" src="img/hero-adult-3.jpg" class="image" width="187" height="150" alt="Вид на гороз из самолета">
        </picture>
        <div class="hero-images__descr">
          <span class="hero-images__text">Для</span>
          <span class="hero-images__text">путешествий</span>
        </div>
      </div>
    </div>
  </div>
</section>
