<section class="hero-children section-offset">
  <div class="container">
    <div class="hero-main">
      <div class="hero-main__action hero-children__action">
        <h1 class="hero-main__title title-main">
          изучение языков онлайн для детей с трёх лет
        </h1>
        <button class="hero-main__btn btn btn-reset" data-graph-path="trial-class">Пробное занятие</button>
      </div>
      <picture>
        <source srcset="img/hero-children.avif" type="image/avif">
        <source srcset="img/hero-children.webp" type="image/webp">
        <img loading="lazy" src="img/hero-children.png" class="image" width="466" height="420" alt="Ребенок на занятии">
      </picture>
    </div>
  </div>
</section>
