<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__action">
        <h1 class="hero__title title-main">
          школа иностранных языков для всей семьи
        </h1>
        <button class="hero__btn btn btn-reset">Пробное занятие</button>
      </div>
      <picture>
        <source srcset="img/hero-main.avif" type="image/avif">
        <source srcset="img/hero-main.webp" type="image/webp">
        <img loading="lazy" src="img/hero-main.png" class="image" width="" height="" alt="">
      </picture>
    </div>
    <div class="hero__images">
      <div class="hero__images-inner">
        <picture>
          <source srcset="img/hero-1.avif" type="image/avif">
          <source srcset="img/hero-1.webp" type="image/webp">
          <img loading="lazy" src="img/hero-1.jpg" class="image" width="" height="" alt="">
        </picture>
        <div class="hero__descr">
          <span class="hero__text">Обучение</span>
          <span class="hero__text">взрослых</span>
        </div>
      </div>
      <div class="hero__images-inner">
        <picture>
          <source srcset="img/hero-2.avif" type="image/avif">
          <source srcset="img/hero-2.webp" type="image/webp">
          <img loading="lazy" src="img/hero-2.jpg" class="image" width="" height="" alt="">
        </picture>
        <div class="hero__descr">
          <span class="hero__text">Обучение</span>
          <span class="hero__text">детей</span>
        </div>
      </div>
    </div>
  </div>
</section>
