<section class="hero">
  <div class="container">

    <div class="hero__inner hero-main">
      <div class="hero-main__action">
        <h1 class="hero-main__title title-main">
          школа иностранных языков для всей семьи
        </h1>
        <button class="hero-main__btn btn btn-reset" data-graph-path="trial-class">Пробное занятие</button>
      </div>
      <picture>
        <source srcset="img/hero-main.avif" type="image/avif">
        <source srcset="img/hero-main.webp" type="image/webp">
        <img loading="lazy" src="img/hero-main.png" class="image" alt="Декоративное изображение">
      </picture>
    </div>

    <div class="hero-images">
      <div class="hero-images__images-inner">
        <picture>
          <source srcset="img/hero-1.avif" type="image/avif">
          <source srcset="img/hero-1.webp" type="image/webp">
          <img loading="lazy" src="img/hero-1.jpg" class="image" alt="Взрослый на занятии">
        </picture>
        <div class="hero-images__descr">
          <span class="hero-images__text">Обучение</span>
          <span class="hero-images__text">взрослых</span>
        </div>
      </div>
      <div class="hero-images__images-inner">
        <picture>
          <source srcset="img/hero-2.avif" type="image/avif">
          <source srcset="img/hero-2.webp" type="image/webp">
          <img loading="lazy" src="img/hero-2.jpg" class="image" alt="Ребенок на занятии">
        </picture>
        <div class="hero-images__descr">
          <span class="hero-images__text">Обучение</span>
          <span class="hero-images__text">детей</span>
        </div>
      </div>
    </div>
  </div>
</section>
