<section class="history section-offset">
  <div class="container-small">
    <h2 class="history__title title-submain title-style">История развития Speaky school</h2>
    <div class="swiper history__slider-items">
      <div class="history__slide-timeline">
        <span class="history__years">2016</span>
        <span class="history__years">2017</span>
        <span class="history__years">2018</span>
        <span class="history__years">2019</span>
        <span class="history__years">2020</span>
      </div>
      <div class="history__pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="history__slide-container">
            <picture>
              <source srcset="img/slider-1.avif" type="image/avif">
              <source srcset="img/slider-1.webp" type="image/webp">
              <img loading="lazy" src="img/slider-1.jpg" class="history__img" width="345" height="285"
                alt="Дети с учителем">
            </picture>
            <div class="history__slide-inner">
              <span class="history__subtitle title-submain">2016</span>
              <p class="history__descr">Открытие языковых лагерей для взрослых и детей</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__slide-container">
            <picture>
              <source srcset="img/slider-1.avif" type="image/avif">
              <source srcset="img/slider-1.webp" type="image/webp">
              <img loading="lazy" src="img/slider-1.jpg" class="history__img" width="345" height="285"
                alt="Дети с учителем">
            </picture>
            <div class="history__slide-inner">
              <span class="history__subtitle title-submain">2017</span>
              <p class="history__descr">Открытие языковых лагерей для взрослых и детей</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__slide-container">
            <picture>
              <source srcset="img/slider-1.avif" type="image/avif">
              <source srcset="img/slider-1.webp" type="image/webp">
              <img loading="lazy" src="img/slider-1.jpg" class="history__img" width="345" height="285"
                alt="Дети с учителем">
            </picture>
            <div class="history__slide-inner">
              <span class="history__subtitle title-submain">2018</span>
              <p class="history__descr">Открытие языковых лагерей для взрослых и детей</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__slide-container">
            <picture>
              <source srcset="img/slider-1.avif" type="image/avif">
              <source srcset="img/slider-1.webp" type="image/webp">
              <img loading="lazy" src="img/slider-1.jpg" class="history__img" width="345" height="285"
                alt="Дети с учителем">
            </picture>
            <div class="history__slide-inner">
              <span class="history__subtitle title-submain">2019</span>
              <p class="history__descr">Открытие языковых лагерей для взрослых и детей</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="history__slide-container">
            <picture>
              <source srcset="img/slider-1.avif" type="image/avif">
              <source srcset="img/slider-1.webp" type="image/webp">
              <img loading="lazy" src="img/slider-1.jpg" class="history__img" width="345" height="285"
                alt="Дети с учителем">
            </picture>
            <div class="history__slide-inner">
              <span class="history__subtitle title-submain">2020</span>
              <p class="history__descr">Открытие языковых лагерей для взрослых и детей</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
