<section class="languages section-offset">
  <div class="container languages__container">
    <h2 class="languages__title title-sub title-sub--style">У нас вы можете выучить:</h2>
    <ul class="languages__list list-reset">
      <li class="languages__item">
        <img src="img/languages/eng.jpg" alt="Британский флаг" class="languages__img">
        <span class="languages__text">Английский</span>
      </li>
      <li class="languages__item">
        <img src="img/languages/ger.jpg" alt="Немецкий флаг" class="languages__img">
        <span class="languages__text">Немецкий</span>
      </li>
      <li class="languages__item">
        <img src="img/languages/span.jpg" alt="Испанский флаг" class="languages__img">
        <span class="languages__text">Испанский</span>
      </li>
      <li class="languages__item">
        <img src="img/languages/fra.jpg" alt="Французский флаг" class="languages__img">
        <span class="languages__text">Французский</span>
      </li>
    </ul>
  </div>
</section>
