<section class="lesson section-offset">
  <div class="container-small trial__container">
    <div class="trial__content">
      <h2 class="trial__subtitle title-sub">записаться на пробное занятие</h2>
      <div class="tabs" data-tabs="tab-2">
        <ul class="tabs__nav list-reset">
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn btn-reset title-small" type="button">Взрослые</button>
            <span class="tabs__btn-line"></span>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn btn-reset title-small" type="button">Дети и подростки</button>
            <span class="tabs__btn-line"></span>
          </li>
        </ul>
        <div class="tabs__content">
          <div class="tabs__panel">
            <form class="tabs__form tabs__form--adult tabs__form--adult-2">
              <div class="tabs__inner">
                <label class="tabs__label-select">
                  <select class="tabs__select">
                    <option value="english" class="tabs__option">Английский язык</option>
                    <option value="german" class="tabs__option">Немецкий язык</option>
                    <option value="spanish" class="tabs__option">Испанский язык</option>
                    <option value="french" class="tabs__option">Французский язык</option>
                  </select>
                </label>
                <div class="tabs__radio-field">
                  <label class="tabs__label-radio">
                    <input type="radio" class="tabs__input-radio" name="radio" value="1" checked>
                    <span class="tabs__radio-text">Онлайн-занятия</span>
                  </label>
                  <label class="tabs__label-radio">
                    <input type="radio" class="tabs__input-radio" name="radio" value="2">
                    <span class="tabs__radio-text">Занятия в клубе</span>
                  </label>
                </div>
                <div class="tabs__adult-field">
                  <label class="tabs__label-name">
                    <input type="text" class="tabs__input-name field-style tabs__input" placeholder="Имя" required>
                  </label>
                  <label class="tabs__label-phone">
                    <input type="tel" class="tabs__input-phone field-style tabs__input" placeholder="Телефон" required>
                  </label>
                </div>
                <label class="tabs__label-email">
                  <input type="email" class="tabs__input-email field-style tabs__input" placeholder="Почта" required>
                </label>
              </div>
              <button class="tabs__btn btn-reset btn">Отправить</button>
            </form>
          </div>
          <div class="tabs__panel">
            <form class="tabs__form tabs__form--child tabs__form--child-2">
              <div class="tabs__inner">
                <label class="tabs__label-select">
                  <select class="tabs__select">
                    <option value="english" class="tabs__option">Английский язык</option>
                    <option value="german" class="tabs__option">Немецкий язык</option>
                    <option value="spanish" class="tabs__option">Испанский язык</option>
                    <option value="french" class="tabs__option">Французский язык</option>
                  </select>
                </label>
                <div class="tabs__radio-field">
                  <label class="tabs__label-radio">
                    <input type="radio" class="tabs__input-radio" name="radio" value="1" checked>
                    <span class="tabs__radio-text">Онлайн-занятия</span>
                  </label>
                  <label class="tabs__label-radio">
                    <input type="radio" class="tabs__input-radio" name="radio" value="2">
                    <span class="tabs__radio-text">Занятия в клубе</span>
                  </label>
                </div>
                <div class="tabs__adult-field">
                  <label class="tabs__label-name">
                    <input type="text" class="tabs__input-name field-style tabs__input" placeholder="Имя" required>
                  </label>
                  <label class="tabs__label-phone">
                    <input type="tel" class="tabs__input-phone field-style tabs__input" placeholder="Телефон" required>
                  </label>
                </div>
                <div class="tabs__child-field">
                  <label class="tabs__label-name">
                    <input type="text" class="tabs__input-child field-style tabs__input" placeholder="Имя ребенка" required>
                  </label>
                  <label class="tabs__label-age">
                    <input type="number" class="tabs__input-age field-style tabs__input" placeholder="Возраст ребенка" required>
                  </label>
                </div>
                <label class="tabs__label-email">
                  <input type="email" class="tabs__input-email field-style tabs__input" placeholder="Почта" required>
                </label>
              </div>
              <button class="tabs__btn btn-reset btn">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <img src="img/lesson.jpg" alt="Декоративное изображение" class="trial__img">
  </div>
</section>
