<section class="offer section-offset">
  <div class="container-small offer__container">
    <div class="offer__top">
      <img class="offer__top-img" src="img/offer/offer-1.jpg" alt="Дети на занятии">
      <div class="offer__content">
        <h2 class="offer__title title-submain title-style">Для детей</h2>
        <div class="offer__inner">
          <div class="offer__column offer__column--top-online">
            <span class="offer__subtitle title-small">Онлайн</span>
            <ul class="offer__list list-reset">
              <li class="offer__item">адаптированная под ребёнка программа</li>
              <li class="offer__item">гибкое расписание</li>
              <li class="offer__item">занятия в привычной обстановке</li>
              <li class="offer__item">динамичные занятия по 30-40 минут</li>
            </ul>
          </div>
          <div class="offer__column">
            <span class="offer__subtitle title-small">Офлайн</span>
            <ul class="offer__list list-reset">
              <li class="offer__item">занятия в нашей школе в г. Троицке</li>
              <li class="offer__item">удобное расписание</li>
              <li class="offer__item">живое общение со сверстниками</li>
              <li class="offer__item">увлекательные занятия в небольших группах</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="offer__bottom">
      <div class="offer__content">
        <h2 class="offer__title title-submain title-style">Для взрослых</h2>
        <div class="offer__inner">
          <div class="offer__column offer__column--bottom-offline">
            <span class="offer__subtitle title-small">Офлайн</span>
            <ul class="offer__list list-reset">
              <li class="offer__item">занятия в нашей школе в г. Троицке</li>
              <li class="offer__item">удобное расписание</li>
              <li class="offer__item">уютная атмосфера</li>
              <li class="offer__item">индивидуальные или групповые занятия</li>
            </ul>
          </div>
          <div class="offer__column offer__column--bottom-online">
            <span class="offer__subtitle title-small">Онлайн</span>
            <ul class="offer__list list-reset">
              <li class="offer__item">занятия из любой точки в удобное время</li>
              <li class="offer__item">персональная программа</li>
              <li class="offer__item">гибкое расписание</li>
              <li class="offer__item">преодоление языкового барьера</li>
            </ul>
          </div>
        </div>
      </div>
      <img class="offer__bottom-img" src="img/offer/offer-2.jpg" alt="Взрослые на занятии">
    </div>
  </div>
</section>
