<section class="offline-class section-offset">
  <div class="offline-class__container container">
    <h2 class="offline-class__title title-submain title-style">Придя к нам, ваш ребенок:</h2>
    <ul class="offline-class__list list-reset">
      <li class="offline-class__item offline-class__item--1">
        <p class="offline-class__text">
          Полностью погрузится в языковую среду, так как все занятия у нас проходят только на изучаемом языке
        </p>
      </li>
      <li class="offline-class__item offline-class__item--2">
        <p class="offline-class__text">
          Будет обучаться по персональному образовательному маршруту, выстроенному исходя из его интересов и особенностей
        </p>
      </li>
      <li class="offline-class__item offline-class__item--3">
        <p class="offline-class__text">
          Сдаст международный экзамен
        </p>
      </li>
      <li class="offline-class__item offline-class__item--4">
        <p class="offline-class__text">
          Выучит язык для живого общения
        </p>
      </li>
    </ul>
  </div>
</section>
