<section class="packages section-offset">
  <div class="container packages__container">
    <h2 class="packages__title title-submain title-style">пакеты обучения</h2>
    <div class="packages__filters filters-online">
      <ul class="packages__filter-list list-reset">
        <li class="packages__filter-item packages__filter-item--online-wide">
          <label class="packages__label">
            <input type="radio" class="packages__input" name="categories" value="individual" data-filter="individual" checked>
            <span class="packages__input-title packages__input-title--online-wide title-small">Индивидуальные уроки</span>
          </label>
        </li>
        <li class="packages__filter-item packages__filter-item--online-wide">
          <label class="packages__label">
            <input type="radio" class="packages__input" name="categories" value="speaking" data-filter="speaking">
            <span class="packages__input-title title-small packages__input-title--online-wide">Разговорный клуб</span>
          </label>
        </li>
      </ul>
      <ul class="packages__filter-list packages__list--time list-reset">
        <li class="packages__filter-item packages__filter-item--online-small">
          <label class="packages__label">
            <input type="radio" class="packages__input" name="time" data-filter="30-minutes" checked>
            <span class="packages__input-title title-small packages__input-title--online-small">30 минут</span>
          </label>
        </li>
        <li class="packages__filter-item packages__filter-item--online-small filters-online__item">
          <label class="packages__label">
            <input type="radio" class="packages__input" name="time" value="60-minutes" data-filter="60-minutes">
            <span class="packages__input-title title-small packages__input-title--online-small">60 минут</span>
          </label>
        </li>
      </ul>
    </div>
    <div class="packages__images">
      <ul class="packages__images-list list-reset">
        <li class="packages__images-item individual 30-minutes">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-1.avif" type="image/avif">
            <source srcset="img/packages-child/pack-1.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-1.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">4 занятия по 30 мин</span>
          <div class="packages__box">
            <span class="packages__price">3400</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
        <li class="packages__images-item individual 30-minutes">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-2.avif" type="image/avif">
            <source srcset="img/packages-child/pack-2.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-2.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">8 занятий по 30 мин</span>
          <div class="packages__box">
            <span class="packages__price">6800</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
        <li class="packages__images-item individual 30-minutes">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-3.avif" type="image/avif">
            <source srcset="img/packages-child/pack-3.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-3.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">12 занятий по 30 мин</span>
          <div class="packages__box">
            <span class="packages__price">10200</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
        <li class="packages__images-item 60-minutes">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-4.avif" type="image/avif">
            <source srcset="img/packages-child/pack-4.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-4.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">4 занятия по 60 мин</span>
          <div class="packages__box">
            <span class="packages__price">5400</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
        <li class="packages__images-item 60-minutes">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-5.avif" type="image/avif">
            <source srcset="img/packages-child/pack-5.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-5.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">8 занятий по 60 мин</span>
          <div class="packages__box">
            <span class="packages__price">10800</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
        <li class="packages__images-item 60-minutes">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-6.avif" type="image/avif">
            <source srcset="img/packages-child/pack-6.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-6.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">12 занятий по 60 мин</span>
          <div class="packages__box">
            <span class="packages__price">16200</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
        <li class="packages__images-item speaking">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-7.avif" type="image/avif">
            <source srcset="img/packages-child/pack-7.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-7.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">4 занятия по 60 мин</span>
          <div class="packages__box">
            <span class="packages__price">5400</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
        <li class="packages__images-item speaking">
          <picture class="packages__img">
            <source srcset="img/packages-child/pack-8.avif" type="image/avif">
            <source srcset="img/packages-child/pack-8.webp" type="image/webp">
            <img loading="lazy" src="img/packages-child/pack-8.jpg" class="image" width="300" height="150" alt="декоративное изображение">
          </picture>
          <span class="packages__subtitle title-small">8 занятий по 60 мин</span>
          <div class="packages__box">
            <span class="packages__price">4800</span>
            <span class="packages__price-currency">₽</span>
          </div>
          <button class="packages__btn btn btn-reset" data-graph-path="trial-payment">Выбрать</button>
        </li>
      </ul>
    </div>
  </div>
</section>
