<section class="public-offer section-offset">
  <div class="public-offer__container container">
    <div class="public-offer__inner">
      <div class="public-offer__inner-descr">
        <h1 class="public-offer__inner-title title-main">публичная оферта</h1>
        <span class="public-offer__descr">(договор оказания услуг)</span>
        <h2 class="public-offer__inner-title title-submain">Редакция 1.0</h2>
        <span class="public-offer__descr">1 апреля 2020 года</span>
        <p class="public-offer__inner-text">
          Индивидуальный предприниматель Буянкина Дарья Сергеевна (ОГРНИП 316774600352451), именуемый в дальнейшем
          Исполнитель, предлагает любому физическому или юридическому лицу, в дальнейшем именуемому Заказчик, платные
          услуги в виде дистанционных занятий по иностранным языкам.
        </p>
        <p class="public-offer__inner-text">
          (в соответствии с пунктом 3 статьи 438 Гражданского кодекса РФ).
        </p>
      </div>
      <picture class="public-offer__img">
        <source srcset="img/public-offer.avif" type="image/avif">
        <source srcset="img/public-offer.webp" type="image/webp">
        <img loading="lazy" src="img/public-offer.jpg" class="image" width="560" height="560"
          alt="Декоративное изображение">
      </picture>
    </div>

    <ul class="public-offer__list list-reset">
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">1. Порядок заключения договора</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              1.1. Текст настоящего Договора является публичной офертой (в соответствии пунктом 2 статьи 437
                Гражданского кодекса РФ). Текст настоящего договора опубликован на сайте Исполнителя по адресу
                (https://speaky.school/offer).
            </p>
            <p class="public-offer__subitem-text">
              1.2. Акцептом (принятием предложения заключить договор) является оплата Клиентом заказанных услуг путем предоплаты в порядке, определяемом настоящим Договором.
            </p>
            <p class="public-offer__subitem-text">
              1.3. Акцептирование Клиентом настоящего Договора означает, что он полностью согласен со всеми положениями настоящего Договора.
            </p>
            <p class="public-offer__subitem-text">
              1.4. С момента акцепта Покупателя настоящий договор считается заключенным.
            </p>
            <p class="public-offer__subitem-text">
              1.5. Настоящий договор вступает в силу с момента его заключения и действует до исполнения Сторонами своих обязательств по нему, если иное не предусмотрено настоящим договором и законодательством РФ.
            </p>
          </li>
        </ul>
      </li>
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">2. Предмет договора</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              2.1. В соответствии с настоящим договором Исполнитель обязуется оказывать Заказчику услуги в виде дистанционных занятий по иностранным языкам (далее – Услуги), а Заказчик обязуется принимать эти услуги и оплачивать их в соответствии с условиями, предусмотренными настоящим договором.
            </p>
            <p class="public-offer__subitem-text">
              2.2. Количество занятий, проводимых в соответствии с настоящим договором, определяется количеством оплаченных Заказчиком занятий.
            </p>
          </li>
        </ul>
      </li>
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">3. Порядок оказания услуг</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              3.1. Оказание Услуг осуществляется исключительно при условии соблюдения Заказчиком обязанности по оплате, предусмотренной разделом 4 настоящего договора.
            </p>
            <p class="public-offer__subitem-text">
              3.2. В целях оказания услуг по настоящему договору Исполнитель вправе привлекать третьих лиц (далее – Репетиторы).
            </p>
            <p class="public-offer__subitem-text">
              3.3. До непосредственного начала оказания Услуг и до их оплаты Заказчиком Исполнителю:
            </p>
            <p class="public-offer__subitem-text">
              3.3.1. Исполнитель представляет Заказчику на выбор характеристики Репетиторов, при наличии – аудио и видеопрезентации;
            </p>
            <p class="public-offer__subitem-text">
              3.3.2. Заказчику предоставляются пробные занятия с выбранными Репетиторами, длительностью в 45 (сорок пять) минут (первое пробное занятие), в целях определения предпочтений Заказчика в отношении Репетитора. Такие занятия также проводятся при смене Репетитора;
            </p>
            <p class="public-offer__subitem-text">
              3.3.3. Заказчик и Репетитор согласовывают график занятий.
            </p>
            <p class="public-offer__subitem-text">
              Согласованное расписание сохраняется за Заказчиком в течение 3 (Три) суток с момента проведения пробного занятия. Если в течение указанного срока Заказчик не выполнит свои обязанности по оплате в порядке, предусмотренном разделом 3 настоящего договора, расписание, согласованное Клиентом, аннулируется.
            </p>
            <p class="public-offer__subitem-text">
              3.4. Одно занятие может длиться 45 (сорок пять), 60 (шестьдесят) минут, в зависимости от того, занятия какой продолжительности были оплачены Заказчиком.
            </p>
            <p class="public-offer__subitem-text">
              3.5. Оказание услуг осуществляется посредством Интернет, с использованием программного обеспечения, обеспечивающего голосовую и видео связь через интернет между Клиентом и Исполнителем (Skype, Webex, другие подобные платформы).
            </p>
            <p class="public-offer__subitem-text">
              3.6. Методика и формат занятий определяется непосредственно Репетитором с учетом пожеланий Заказчика.
            </p>
          </li>
        </ul>
      </li>
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">4. Оплата и прием-передача Услуг</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              4.1. Стоимость Услуг Исполнителя и возможные способы оплаты публикуются Исполнителем на своем сайте по адресу https://speaky.school
            </p>
            <p class="public-offer__subitem-text">
              4.2. Оплата Услуг осуществляется на основе стопроцентной предоплаты.
            </p>
            <p class="public-offer__subitem-text">
              Если у Заказчика остается одно оплаченное занятие, Заказчик обязан оплатить следующие занятия до момента окончания последнего оплаченного занятия. В случае неисполнения Заказчиком настоящей обязанности Исполнитель вправе аннулировать график занятий Заказчика и ставить на ранее зарезервированное за Заказчиком время занятия с другими лицами.
            </p>
            <p class="public-offer__subitem-text">
              4.3. Исполнитель может в одностороннем порядке менять стоимость услуг, предварительно уведомив об этом Заказчика за 3 (Три) календарных дня до даты изменения стоимости услуг путем направления электронного сообщения, а также размещении информации на сайте Исполнителя при этом стоимость уже оплаченных Заказчиком занятий не подлежит изменению.
            </p>
            <p class="public-offer__subitem-text">
              4.4. Моментом оплаты считается поступление денежных средств на счет Исполнителя.
            </p>
            <p class="public-offer__subitem-text">
              4.5. Занятие считается проведенным надлежащим образом, если в течение 1 (одного) часа с момента его проведения Заказчик или Клиент не сообщит Исполнителю в порядке, предусмотренном пунктом 7.1.2 настоящего договора, о том, что оно не состоялось по вине Репетитора, Исполнителя.
            </p>
            <p class="public-offer__subitem-text">
              4.6. Заказчик самостоятельно несет ответственность за правильность производимых им платежей.
            </p>
            <p class="public-offer__subitem-text">
              4.7. Заказчик самостоятельно оплачивает все услуги организаций связи необходимые для потребления им Услуг Исполнителя.
            </p>
          </li>
        </ul>
      </li>
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">5. Перенос занятий и неявка на занятие</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              5.1. Перенос занятий.
            </p>
            <p class="public-offer__subitem-text">
              5.1.1. Перенос занятия Заказчиком может быть осуществлен не позднее 8 (восемь) часов до начала занятия. Несоблюдение указанного срока приравнивается к неявке Заказчика на занятие.
            </p>
            <p class="public-offer__subitem-text">
              Количество возможных переносов занятий зависит от интенсивности графика занятий Заказчика. Заказчик имеет право на:
            </p>
            <p class="public-offer__subitem-text">
              — перенос 1 (Одно) занятие в месяц — при графике занятий 1 (Одно) занятие в неделю;
            </p>
            <p class="public-offer__subitem-text">
              — перенос 2 (Два) занятия в месяц – при графике занятий 2 (Два) и 3 (Три) занятия в неделю;
            </p>
            <p class="public-offer__subitem-text">
              — перенос 3 (Три) занятий в месяц – при графике занятий 4 (Четыре) и более занятия в неделю.
            </p>
            <p class="public-offer__subitem-text">
              5.1.2. Репетитор имеет право переносить занятия (в случае болезни и другим уважительным причинам) предупредив об этом Заказчика. Если Заказчик считает, что репетитор слишком часто переносит занятия, Заказчик вправе обратиться к Исполнителю с требованием о смене Репетитора.
            </p>
            <p class="public-offer__subitem-text">
              5.2. Неявка на занятие
            </p>
            <p class="public-offer__subitem-text">
              5.2.1. Если в установленное время Заказчик не доступен для звонка Репетитора, Репетитор в течение всего времени занятия повторяет попытки связаться с Заказчиком. При этом временем начала занятия считается установленное в графике занятий время занятия. Если в результате вышеназванных процедур связаться с Заказчиком не удается, занятие считается проведенным и оплачивается в размере 100%.
            </p>
            <p class="public-offer__subitem-text">
              5.2.2. Если в установленное время начала занятий плюс 5 (Пять) минут Заказчик не получает звонка от Репетитора, он обязан немедленно связаться с Исполнителем в порядке, предусмотренном пунктом 7.1.2 настоящего договора.
            </p>
            <p class="public-offer__subitem-text">
              Занятия, которые не состоялись по вине Исполнителя/Репетитора, переносятся в полном объеме на другое, удобное для Заказчика время.
            </p>
            <p class="public-offer__subitem-text">
              5.3. Исполнитель не отвечает за неоказание услуги в связи с отсутствием у Заказчика необходимого программного обеспечения или технических проблем с Интернетом.
            </p>
          </li>
        </ul>
      </li>
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">6. Приостановка оказания Услуг и отказ от договора</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              6.1. Заказчик может приостановить оказание Услуг Заказчику с сохранением резервирования графика занятий Заказчика при соблюдении следующих условий:
            </p>
            <p class="public-offer__subitem-text">
              6.1.1. продолжительность перерыва в занятиях должна быть не дольше, чем 21 (Двадцать один) календарный день;
            </p>
            <p class="public-offer__subitem-text">
              6.1.2. приостановление оказания Услуг возможно, если с даты окончания предыдущей приостановки прошло не менее 90 (Девяносто) календарных дней;
            </p>
            <p class="public-offer__subitem-text">
              6.1.3. на момент начала перерыва в занятиях (день последнего занятия перед перерывом) у Заказчика должно быть оплачено как минимум 5 (Пять) занятий
            </p>
            <p class="public-offer__subitem-text">
              6.2. Заказчик должен сообщить Исполнителю точную дату и время:
            </p>
            <p class="public-offer__subitem-text">
              — последнего занятия перед перерывом;
            </p>
            <p class="public-offer__subitem-text">
              — первого занятия после перерыва.
            </p>
            <p class="public-offer__subitem-text">
              6.3. В случае, если потребуется повторно приостановить занятия, но с даты окончания предыдущей приостановки занятий ещё не прошло 90 (Девяносто) календарных дней, Заказчик может приостановить занятия, предупредив Исполнителя за 24 (Двадцать четыре) часа до следующего занятия, при этом график занятий за Заказчиком не сохраняется, а денежные средства за неиспользованные занятия остаются у Исполнителя и в последующем после возобновления занятий идут в счет оплаты за них.
            </p>
            <p class="public-offer__subitem-text">
              При возобновлении занятий Заказчик и Репетитор заново определяют график занятий.
            </p>
            <p class="public-offer__subitem-text">
              Если Заказчик желает вернуть денежные средства за неиспользованные занятия ему следует отказаться от настоящего договора в порядке, предусмотренном пунктом 6.4 настоящего договора.
            </p>
            <p class="public-offer__subitem-text">
              6.4. Заказчик вправе отказаться от настоящего договора и потребовать вернуть денежные средства за неиспользованные занятия, предупредив об этом Исполнителя не менее чем за 24 (Двадцать четыре) часа до начала занятия путем направления соответствующего электронного сообщения Исполнителю.
            </p>
            <p class="public-offer__subitem-text">
              6.5. Исполнитель вправе приостановить оказание услуг по собственной инициативе в дни новогодних, рождественских и майских праздников, предварительно предупредив об этом Заказчика путем направления сообщений по электронной почте.
            </p>
            <p class="public-offer__subitem-text">
              6.6. Исполнитель вправе заменить Заказчику Репетитора при наличии для этого уважительных причин (временная нетрудоспособность Репетитора, другие обстоятельства), сообщив об этом Заказчику по электронной почте.
            </p>
            <p class="public-offer__subitem-text">
              В случае, если Заказчик не хочет заниматься с другим Репетитором, Заказчик вправе приостановить оказание Услуг в порядке, предусмотренном настоящим договором.
            </p>
          </li>
        </ul>
      </li>
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">7. Порядок направления сообщений</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              7.1. Для того, чтобы сообщить о переносе занятий, необходимо
            </p>
            <p class="public-offer__subitem-text">
              7.1.1. отправить письмо на электронную почту Репетитора или Заказчика в зависимости от того, кто переносит занятие (копию Исполнителю – info@speaky.school);
            </p>
            <p class="public-offer__subitem-text">
              7.1.2. либо сообщить о переносе занятия менеджеру Исполнителя по телефону, указанному на сайте компании в разделе “Контакты” на сайте Исполнителя и/или посредством Whatsapp (в часы, указанные в пункте 6.2 настоящего договора), либо оставить голосовое сообщение на автоответчике.
            </p>
            <p class="public-offer__subitem-text">
              7.2. Сообщения в Whatsapp-чате и по телефону (кроме сообщений на автоответчик) о переносе занятий принимаются только в рабочие часы менеджеров Исполнителя. График работы менеджеров публикуется на сайте компании в разделе “Контакты” на сайте Исполнителя
            </p>
            <p class="public-offer__subitem-text">
              Отправленные в другое время сообщения Whatsapp-чата о переносе занятий считаются непринятыми.
            </p>
            <p class="public-offer__subitem-text">
              7.3. Для того, чтобы сообщить об увеличении количества занятий, изменении продолжительности занятий, смене Репетитора, о приостановлении оказания услуг или об отказе от договора Заказчик должен написать Исполнителю электронное сообщение на следующий адрес электронной почты: info@speaky.school
            </p>
          </li>
        </ul>
      </li>
      <li class="public-offer__item">
        <h3 class="public-offer__item-title title-small">8. Прочие условия</h3>
        <ul class="public-offer__sublist list-reset">
          <li class="public-offer__subitem">
            <p class="public-offer__subitem-text">
              8.1. Услуги, оказываемые в соответствии с настоящим договором, не являются образовательными. Исполнитель не имеет общей для всех репетиторов программы проведения занятий, методика и формат обучения определяется непосредственно Репетитором индивидуально для каждого Клиента.
            </p>
            <p class="public-offer__subitem-text">
              По результатам Исполнения настоящего договора Исполнитель не выдает каких-либо документов о достижении Заказчиком какого-либо уровня владения иностранным языком.
            </p>
            <p class="public-offer__subitem-text">
              8.2. Исполнитель вправе изменять условия Соглашения путём уведомления пользователя по электронной почте. Новая редакция Соглашения вступает в силу на четырнадцатый день после направления Заказчику уведомления, если в новой редакции Соглашения не установлена другая дата вступления изменений в силу. Заказчику будет предложено принять изменённые условия Соглашения путём авторизации на Сайте. В случае если Заказчик не согласен с новыми условиями, Соглашение между Заказчиком и Исполнителем считается расторгнутым с даты, в которую новая версия Соглашения вступила бы в силу в случае его согласия.
            </p>
            <p class="public-offer__subitem-text">
              8.3. За невыполнение или ненадлежащее выполнение обязательств по настоящему договору Стороны несут ответственность в соответствии с условиями настоящего договора и законодательством Российской Федерации.
            </p>
            <p class="public-offer__subitem-text">
              8.4. Стороны не несут ответственности за полное или частичное невыполнение ими своих обязательств по настоящему Договору, если такое невыполнение явилось следствием обстоятельств непреодолимой силы (форс-мажор), а именно: наводнения, других стихийных бедствий, военных действий, постановлений и решений органов государственной власти или других событий.
            </p>
            <p class="public-offer__subitem-text">
              Надлежащим подтверждением наличия форс-мажорных обстоятельств и их продолжительности для Сторон является справка, выдаваемая уполномоченными органами.
            </p>
            <p class="public-offer__subitem-text">
              8.5. Все споры, возникающие по данному договору, решаются путем переговоров между сторонами настоящего Договора. В случае, если споры и разногласия не могут быть решены указанным способом, они подлежат урегулированию в судебном порядке в соответствии с действующим законодательством Российской Федерации.
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <!-- <div class="public-offer__content">
      <div class="public-offer__column">
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">1. Порядок заключения договора</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                1.1. Текст настоящего Договора является публичной офертой (в соответствии пунктом 2 статьи 437
                Гражданского кодекса РФ). Текст настоящего договора опубликован на сайте Исполнителя по адресу
                (https://speaky.school/offer).
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                1.2. Акцептом (принятием предложения заключить договор) является оплата Клиентом заказанных услуг путем
                предоплаты в порядке, определяемом настоящим Договором.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Акцептирование Клиентом настоящего Договора означает, что он полностью согласен со всеми положениями
                настоящего Договора.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                1.3. С момента акцепта Покупателя настоящий договор считается заключенным.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                1.4. Настоящий договор вступает в силу с момента его заключения и действует до исполнения Сторонами
                своих обязательств по нему, если иное не предусмотрено настоящим договором и законодательством РФ.
              </p>
            </li>
          </ul>
        </div>
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">3. Порядок оказания услуг</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.1. Оказание Услуг осуществляется исключительно при условии соблюдения Заказчиком обязанности по
                оплате, предусмотренной разделом 4 настоящего договора.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.2. В целях оказания услуг по настоящему договору Исполнитель вправе привлекать третьих лиц (далее –
                Репетиторы).
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.3. До непосредственного начала оказания Услуг и до их оплаты Заказчиком Исполнителю:
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.3.1. Исполнитель представляет Заказчику на выбор характеристики Репетиторов, при наличии – аудио и
                видеопрезентации;
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.3.2. Заказчику предоставляются пробные занятия с выбранными Репетиторами, длительностью в 45 (сорок
                пять) минут (первое пробное занятие), в целях определения предпочтений Заказчика в отношении Репетитора.
                Такие занятия также проводятся при смене Репетитора;
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.3.3. Заказчик и Репетитор согласовывают график занятий.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Согласованное расписание сохраняется за Заказчиком в течение 3 (Три) суток с момента проведения пробного
                занятия. Если в течение указанного срока Заказчик не выполнит свои обязанности по оплате в порядке,
                предусмотренном разделом 3 настоящего договора, расписание, согласованное Клиентом, аннулируется.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.4. Одно занятие может длиться 45 (сорок пять), 60 (шестьдесят) минут, в зависимости от того, занятия
                какой продолжительности были оплачены Заказчиком.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.5. Оказание услуг осуществляется посредством Интернет, с использованием программного обеспечения,
                обеспечивающего голосовую и видео связь через интернет между Клиентом и Исполнителем (Skype, Webex,
                другие подобные платформы).
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                3.6. Методика и формат занятий определяется непосредственно Репетитором с учетом пожеланий Заказчика.
              </p>
            </li>
          </ul>
        </div>
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">5. Перенос занятий и неявка на занятие</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                5.1.1. Перенос занятия Заказчиком может быть осуществлен не позднее 8 (восемь) часов до начала занятия.
                Несоблюдение указанного срока приравнивается к неявке Заказчика на занятие.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Количество возможных переносов занятий зависит от интенсивности графика занятий Заказчика. Заказчик
                имеет право на
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                — перенос 1 (Одно) занятие в месяц — при графике занятий 1 (Одно) занятие в неделю;
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                — перенос 2 (Два) занятия в месяц – при графике занятий 2 (Два) и 3 (Три) занятия в неделю;
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                — перенос 3 (Три) занятий в месяц – при графике занятий 4 (Четыре) и более занятия в неделю.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                5.1.2. Репетитор имеет право переносить занятия (в случае болезни и другим уважительным причинам)
                предупредив об этом Заказчика. Если Заказчик считает, что репетитор слишком часто переносит занятия,
                Заказчик вправе обратиться к Исполнителю с требованием о смене Репетитора.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                5.2. Неявка на занятие
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                5.2.1. Если в установленное время Заказчик не доступен для звонка Репетитора, Репетитор в течение всего
                времени занятия повторяет попытки связаться с Заказчиком. При этом временем начала занятия считается
                установленное в графике занятий время занятия. Если в результате вышеназванных процедур связаться с
                Заказчиком не удается, занятие считается проведенным и оплачивается в размере 100%.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                5.2.2. Если в установленное время начала занятий плюс 5 (Пять) минут Заказчик не получает звонка от
                Репетитора, он обязан немедленно связаться с Исполнителем в порядке, предусмотренном пунктом 7.1.2
                настоящего договора.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Занятия, которые не состоялись по вине Исполнителя/Репетитора, переносятся в полном объеме на другое,
                удобное для Заказчика время.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                5.3. Исполнитель не отвечает за неоказание услуги в связи с отсутствием у Заказчика необходимого
                программного обеспечения или технических проблем с Интернетом.
              </p>
            </li>
          </ul>
        </div>
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">7. Порядок направления сообщений</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                7.1. Для того, чтобы сообщить о переносе занятий, необходимо
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                7.1.1. отправить письмо на электронную почту Репетитора или Заказчика в зависимости от того, кто
                переносит занятие (копию Исполнителю – info@speaky.school);
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                7.1.2. либо сообщить о переносе занятия менеджеру Исполнителя по телефону, указанному на сайте компании
                в разделе “Контакты” на сайте Исполнителя и/или посредством Whatsapp (в часы, указанные в пункте 6.2
                настоящего договора), либо оставить голосовое сообщение на автоответчике.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                7.2. Сообщения в Whatsapp-чате и по телефону (кроме сообщений на автоответчик) о переносе занятий
                принимаются только в рабочие часы менеджеров Исполнителя. График работы менеджеров публикуется на сайте
                компании в разделе “Контакты” на сайте Исполнителя
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Отправленные в другое время сообщения Whatsapp-чата о переносе занятий считаются непринятыми.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                7.3. Для того, чтобы сообщить об увеличении количества занятий, изменении продолжительности занятий,
                смене Репетитора, о приостановлении оказания услуг или об отказе от договора Заказчик должен написать
                Исполнителю электронное сообщение на следующий адрес электронной почты: info@speaky.school
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="public-offer__column">
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">2. Предмет договора</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                2.1. В соответствии с настоящим договором Исполнитель обязуется оказывать Заказчику услуги в виде дистанционных занятий по иностранным языкам (далее – Услуги), а Заказчик обязуется принимать эти услуги и оплачивать их в соответствии с условиями, предусмотренными настоящим договором.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                2.2. Количество занятий, проводимых в соответствии с настоящим договором, определяется количеством оплаченных Заказчиком занятий.
              </p>
            </li>
          </ul>
        </div>
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">4. Оплата и прием-передача Услуг</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                4.1. Стоимость Услуг Исполнителя и возможные способы оплаты публикуются Исполнителем на своем сайте по адресу https://speaky.school
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                4.2. Оплата Услуг осуществляется на основе стопроцентной предоплаты.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Если у Заказчика остается одно оплаченное занятие, Заказчик обязан оплатить следующие занятия до момента окончания последнего оплаченного занятия. В случае неисполнения Заказчиком настоящей обязанности Исполнитель вправе аннулировать график занятий Заказчика и ставить на ранее зарезервированное за Заказчиком время занятия с другими лицами.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                4.3. Исполнитель может в одностороннем порядке менять стоимость услуг, предварительно уведомив об этом Заказчика за 3 (Три) календарных дня до даты изменения стоимости услуг путем направления электронного сообщения, а также размещении информации на сайте Исполнителя при этом стоимость уже оплаченных Заказчиком занятий не подлежит изменению.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                4.4. Моментом оплаты считается поступление денежных средств на счет Исполнителя.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                4.5. Занятие считается проведенным надлежащим образом, если в течение 1 (одного) часа с момента его проведения Заказчик или Клиент не сообщит Исполнителю в порядке, предусмотренном пунктом 7.1.2 настоящего договора, о том, что оно не состоялось по вине Репетитора, Исполнителя.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                4.6. Заказчик самостоятельно несет ответственность за правильность производимых им платежей.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">

4.7. Заказчик самостоятельно оплачивает все услуги организаций связи необходимые для потребления им Услуг Исполнителя.
              </p>
            </li>
          </ul>
        </div>
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">6. Приостановка оказания Услуг и отказ от договора</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.1. Заказчик может приостановить оказание Услуг Заказчику с сохранением резервирования графика занятий Заказчика при соблюдении следующих условий:
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.1.1. продолжительность перерыва в занятиях должна быть не дольше, чем 21 (Двадцать один) календарный день;
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.1.2. приостановление оказания Услуг возможно, если с даты окончания предыдущей приостановки прошло не менее 90 (Девяносто) календарных дней;
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.1.3. на момент начала перерыва в занятиях (день последнего занятия перед перерывом) у Заказчика должно быть оплачено как минимум 5 (Пять) занятий
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.2. Заказчик должен сообщить Исполнителю точную дату и время:
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                — последнего занятия перед перерывом;
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                — первого занятия после перерыва.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.3. В случае, если потребуется повторно приостановить занятия, но с даты окончания предыдущей приостановки занятий ещё не прошло 90 (Девяносто) календарных дней, Заказчик может приостановить занятия, предупредив Исполнителя за 24 (Двадцать четыре) часа до следующего занятия, при этом график занятий за Заказчиком не сохраняется, а денежные средства за неиспользованные занятия остаются у Исполнителя и в последующем после возобновления занятий идут в счет оплаты за них.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                При возобновлении занятий Заказчик и Репетитор заново определяют график занятий.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Если Заказчик желает вернуть денежные средства за неиспользованные занятия ему следует отказаться от настоящего договора в порядке, предусмотренном пунктом 6.4 настоящего договора.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.4. Заказчик вправе отказаться от настоящего договора и потребовать вернуть денежные средства за неиспользованные занятия, предупредив об этом Исполнителя не менее чем за 24 (Двадцать четыре) часа до начала занятия путем направления соответствующего электронного сообщения Исполнителю.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.5. Исполнитель вправе приостановить оказание услуг по собственной инициативе в дни новогодних, рождественских и майских праздников, предварительно предупредив об этом Заказчика путем направления сообщений по электронной почте.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                6.6. Исполнитель вправе заменить Заказчику Репетитора при наличии для этого уважительных причин (временная нетрудоспособность Репетитора, другие обстоятельства), сообщив об этом Заказчику по электронной почте.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                В случае, если Заказчик не хочет заниматься с другим Репетитором, Заказчик вправе приостановить оказание Услуг в порядке, предусмотренном настоящим договором.
              </p>
            </li>
          </ul>
        </div>
        <div class="public-offer__item">
          <h3 class="public-offer__item-title title-small">8. Прочие условия</h3>
          <ul class="public-offer__content-list list-reset">
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                8.1. Услуги, оказываемые в соответствии с настоящим договором, не являются образовательными. Исполнитель не имеет общей для всех репетиторов программы проведения занятий, методика и формат обучения определяется непосредственно Репетитором индивидуально для каждого Клиента.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                По результатам Исполнения настоящего договора Исполнитель не выдает каких-либо документов о достижении Заказчиком какого-либо уровня владения иностранным языком.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                8.2. Исполнитель вправе изменять условия Соглашения путём уведомления пользователя по электронной почте. Новая редакция Соглашения вступает в силу на четырнадцатый день после направления Заказчику уведомления, если в новой редакции Соглашения не установлена другая дата вступления изменений в силу. Заказчику будет предложено принять изменённые условия Соглашения путём авторизации на Сайте. В случае если Заказчик не согласен с новыми условиями, Соглашение между Заказчиком и Исполнителем считается расторгнутым с даты, в которую новая версия Соглашения вступила бы в силу в случае его согласия.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                8.3. За невыполнение или ненадлежащее выполнение обязательств по настоящему договору Стороны несут ответственность в соответствии с условиями настоящего договора и законодательством Российской Федерации.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                8.4. Стороны не несут ответственности за полное или частичное невыполнение ими своих обязательств по настоящему Договору, если такое невыполнение явилось следствием обстоятельств непреодолимой силы (форс-мажор), а именно: наводнения, других стихийных бедствий, военных действий, постановлений и решений органов государственной власти или других событий.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                Надлежащим подтверждением наличия форс-мажорных обстоятельств и их продолжительности для Сторон является справка, выдаваемая уполномоченными органами.
              </p>
            </li>
            <li class="public-offer__content-item">
              <p class="public-offer__content-text">
                8.5. Все споры, возникающие по данному договору, решаются путем переговоров между сторонами настоящего Договора. В случае, если споры и разногласия не могут быть решены указанным способом, они подлежат урегулированию в судебном порядке в соответствии с действующим законодательством Российской Федерации.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</section>
