<section class="steps section-offset">
  <div class="container">
    <h2 class="steps__title title-submain title-style">что будем делать мы?</h2>
    <ul class="steps__list list-reset">
      <li class="steps__item steps__item--1">
        <h4 class="steps__subtitle title-small">
          сформулируем конкретную цель
        </h4>
      </li>
      <li class="steps__item steps__item--2">
        <h4 class="steps__subtitle title-small">
          обозначим срок достижения цели
        </h4>
      </li>
      <li class="steps__item steps__item--3">
        <h4 class="steps__subtitle title-small">
          назначим даты чекпоинтов
        </h4>
      </li>
      <li class="steps__item steps__item--4">
        <h4 class="steps__subtitle title-small">
          начнём постепенно двигаться к цели
        </h4>
      </li>
    </ul>
  </div>
</section>
